@import "../../mtp-v0.0.1/css/variables.styl"
@import "../../mtp-v0.0.1/css/mixins.styl"
body
    font-family sans-serif
#map
    position absolute
    top 0
    left 0
    height 100vh
    width 100vw
.auth_page
    background mtp_grey_e url(../img/auth_bg.png) no-repeat fixed bottom
    background-size contain
    .control_box
        position fixed
        left calc(50vw - 117px)
        top 22vh
        width 234px
        header
            justify-content center
            cursor auto
            h2
                margin 0
    .content
        display flex
        flex-direction column
        justify-content center
        align-items center
        padding 32px 0
        input[type="text"],
        input[type="password"]
            width 162px
            border 0
            border-bottom 2px solid mtp_light
            background transparent
            height 18px
            line-height 18px
            font-size 14px
            color mtp_main
            padding 0 6px
            &:focus,
            &:active
                border-bottom-color mtp_other_focus_blue
        input:nth-child(2)
            margin-top 10px
        .button
            width 172px
            //height 28px
            margin-top 30px
            border-radius 6px
.left_panel
    float left
    margin 10px
    header
        img
            width 16px
    .content
        max-height calc(100vh - 103px)
        & > :last-child
            max-height calc(100vh - 152px)
    .info
        display none
        margin 0 8px 0 4px
        &:hover
            opacity 1
    .div_unit
        cursor pointer
        height 18px
        border-top 1px solid mtp_other_light
        border-bottom 1px solid mtp_other_light_green
        background mtp_other_light_green
        padding 0 8px
        line-height 18px
        content-w()
        &.div_active
            font 600 14px SegoeUIsemibold, sans-serif
        & ~ .info
            background-color mtp_other_light_green
    .line:hover
        .div_unit
            border-bottom-color mtp_other_green
        .info
            display block
.user_panel
    float right
    header
        min-width 128px
    .content
        width auto
.right_panel
    float right
    width 53px
    overflow visible
    header
        width 21px
.group
    float right
    margin 10px
    flex(row, center, flex-start)
    .aside_box
        margin 0
        width 53px
        overflow visible
        header
            border-radius 0
            width 21px
    >:first-child
        width 52px
        header
            border-radius 12px 0 0 12px
            border-right 0
    >:last-child
        width 52px
        header
            border-radius 0 12px 12px 0
            border-left 0
    .button
        border-radius 8px
        width 100px
    [type="text"]
        background transparent
        border 0
        height 28px
        width 120px
        margin-right 12px
        color mtp_main
        font 14px SegoeUInormal, sans-serif
#search
    float left

.status_bg_green
	background status_green
	padding 0 3px
.status_txt_green
	color status_green
.status_bg_orange
	background status_orange
	padding 0 3px
.status_txt_orange
	color status_orange
.status_bg_red
	background status_red
	padding 0 3px
.status_txt_red
	color status_red

// После переезда - удалить!
.green
	background #75b62e
.orange
	background #eaad08
.red
	background #e52329
////////////////////////////

@media print
	.control_box
		display none
	.search_box
		display none
	.aside_box
		display none
	.mgtniip_zoom
		display none