body {
  font-family: sans-serif;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.auth_page {
  background: #b6bfc5 url("../img/auth_bg.png") no-repeat fixed bottom;
  background-size: contain;
}
.auth_page .control_box {
  position: fixed;
  left: calc(50vw - 117px);
  top: 22vh;
  width: 234px;
}
.auth_page .control_box header {
  justify-content: center;
  cursor: auto;
}
.auth_page .control_box header h2 {
  margin: 0;
}
.auth_page .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}
.auth_page .content input[type="text"],
.auth_page .content input[type="password"] {
  width: 162px;
  border: 0;
  border-bottom: 2px solid #dadada;
  background: transparent;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  color: #263045;
  padding: 0 6px;
}
.auth_page .content input[type="text"]:focus,
.auth_page .content input[type="password"]:focus,
.auth_page .content input[type="text"]:active,
.auth_page .content input[type="password"]:active {
  border-bottom-color: #82c8f4;
}
.auth_page .content input:nth-child(2) {
  margin-top: 10px;
}
.auth_page .content .button {
  width: 172px;
  margin-top: 30px;
  border-radius: 6px;
}
.left_panel {
  float: left;
  margin: 10px;
}
.left_panel header img {
  width: 16px;
}
.left_panel .content {
  max-height: calc(100vh - 103px);
}
.left_panel .content > :last-child {
  max-height: calc(100vh - 152px);
}
.left_panel .info {
  display: none;
  margin: 0 8px 0 4px;
}
.left_panel .info:hover {
  opacity: 1;
}
.left_panel .div_unit {
  cursor: pointer;
  height: 18px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #efffe0;
  background: #efffe0;
  padding: 0 8px;
  line-height: 18px;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}
.left_panel .div_unit.div_active {
  font: 600 14px SegoeUIsemibold, sans-serif;
}
.left_panel .div_unit ~ .info {
  background-color: #efffe0;
}
.left_panel .line:hover .div_unit {
  border-bottom-color: #acd67e;
}
.left_panel .line:hover .info {
  display: block;
}
.user_panel {
  float: right;
}
.user_panel header {
  min-width: 128px;
}
.user_panel .content {
  width: auto;
}
.right_panel {
  float: right;
  width: 53px;
  overflow: visible;
}
.right_panel header {
  width: 21px;
}
.group {
  float: right;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.group .aside_box {
  margin: 0;
  width: 53px;
  overflow: visible;
}
.group .aside_box header {
  border-radius: 0;
  width: 21px;
}
.group >:first-child {
  width: 52px;
}
.group >:first-child header {
  border-radius: 12px 0 0 12px;
  border-right: 0;
}
.group >:last-child {
  width: 52px;
}
.group >:last-child header {
  border-radius: 0 12px 12px 0;
  border-left: 0;
}
.group .button {
  border-radius: 8px;
  width: 100px;
}
.group [type="text"] {
  background: transparent;
  border: 0;
  height: 28px;
  width: 120px;
  margin-right: 12px;
  color: #263045;
  font: 14px SegoeUInormal, sans-serif;
}
#search {
  float: left;
}
.status_bg_green {
  background: #75b62e;
  padding: 0 3px;
}
.status_txt_green {
  color: #75b62e;
}
.status_bg_orange {
  background: #eaad08;
  padding: 0 3px;
}
.status_txt_orange {
  color: #eaad08;
}
.status_bg_red {
  background: #e52329;
  padding: 0 3px;
}
.status_txt_red {
  color: #e52329;
}
.green {
  background: #75b62e;
}
.orange {
  background: #eaad08;
}
.red {
  background: #e52329;
}
@media print {
  .control_box {
    display: none;
  }
  .search_box {
    display: none;
  }
  .aside_box {
    display: none;
  }
  .mgtniip_zoom {
    display: none;
  }
}
