#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.user_panel {
  float: right;
}
.user_panel header {
  min-width: 128px;
}
.user_panel .content {
  width: auto;
}
.hidden.hidden_part header h2 {
  display: block;
}
.group {
  float: right;
  margin: 10px;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.group .aside_box {
  margin: 0;
  width: 53px;
  overflow: visible;
}
.group .aside_box header {
  border-radius: 0;
  width: 21px;
}
.group >:first-child {
  width: 52px;
}
.group >:first-child header {
  border-radius: 12px 0 0 12px;
  border-right: 0;
}
.group >:last-child {
  width: 52px;
}
.group >:last-child header {
  border-radius: 0 12px 12px 0;
  border-left: 0;
}
.group .button {
  border-radius: 8px;
  width: 100px;
}
.group [type="text"] {
  background: transparent;
  border: 0;
  height: 28px;
  width: 183px;
  margin-right: 12px;
  color: #263045;
  font: 14px SegoeUInormal, sans-serif;
}
.right_panel {
  float: right;
  width: 53px;
  overflow: visible;
  margin-right: 0;
}
.right_panel header {
  width: 21px;
}
.right_panel label img {
  height: 14px;
}
.main {
  float: left;
}
.main header {
  padding: 0 17px;
}
.main header img {
  width: 17px;
}
.main .content {
  max-height: calc(100vh - 103px);
}
.main .content > :last-child {
  max-height: calc(100vh - 152px);
}
.main .content .line {
  width: 246px;
}
.main .content .dist_box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.main .content .div_unit {
  cursor: pointer;
  height: 18px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #efffe0;
  background: #efffe0;
  padding: 0 8px;
  line-height: 18px;
  width: calc(100% - 44px);
}
.main .content .div_unit.div_active {
  font: 600 14px SegoeUIsemibold, sans-serif;
}
.main .content .div_unit ~ .info {
  background-color: #efffe0;
}
.main .content .dist_unit {
  cursor: pointer;
  height: 18px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #fff;
  margin-left: 10px;
  padding: 0 8px;
  line-height: 18px;
  width: calc(100% - 54px);
}
.main .content .dist_unit.dist_active {
  border: 0;
  height: 20px;
  line-height: 20px;
  background-color: #acd67e;
}
.main .content .info {
  display: none;
  margin: 0 8px 0 4px;
}
.main .content .info:hover {
  opacity: 1;
}
.main .content .line:hover .div_unit {
  border-bottom-color: #acd67e;
}
.main .content .line:hover .info {
  display: block;
}
.main .content .line:hover .dist_unit {
  border: 0;
  height: 20px;
  line-height: 20px;
  background-color: rgba(172,214,126,0.302);
}
.main .content .line:hover .dist_unit.dist_active {
  background-color: #acd67e;
}
.bar {
  float: right;
  position: relative;
  width: 51px;
  height: 51px;
  z-index: 1010;
  margin-right: 10px;
}
.bar header {
  padding: 0 15px;
  width: calc(100% - 30px);
  cursor: pointer;
  z-index: 710;
}
.bar header img {
  width: 100%;
}
.bar .content {
  border-radius: 12px 0 12px 12px;
  padding: 16px;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  float: right;
  z-index: 700;
  left: 2px;
}
.bar .content label img {
  height: 90%;
}
#segment_streets.mgtniip_simple_checkbox:checked+label:before {
  background: #fff url("../images/icons_nii/segSt.svg") no-repeat center;
  background-size: cover;
}
#segment_intersections.mgtniip_simple_checkbox:checked+label:before {
  background: #fff url("../images/icons_nii/segInt.svg") no-repeat center;
  background-size: cover;
}
.search_box {
  display: none;
  float: left;
  margin-left: 0;
}
.search_box .scroll_bar {
  max-height: 180px;
}
.search_box #empty {
  padding-left: 8px;
  color: #aab6cb;
  font-size: 14px;
  display: none;
}
.search_box #ya_box {
  padding-left: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search_box #ya_box > img {
  height: 17px;
}
.search_box #ya_box #ya_btn {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  z-index: 10;
}
.search_box #ya_box #ya_btn .yellow {
  width: 57px;
  height: 24px;
  background: #ffdb4d;
  color: #263045;
  font: 14px SegoeUIsemibold, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_box #ya_box #ya_btn .white {
  position: relative;
  height: 24px;
  width: 18px;
  background: #fff url("../images/ya.svg") no-repeat 7px 6px;
  background-size: 6px 12px;
  z-index: 15;
}
.search_box #ya_box #ya_btn:after {
  content: "";
  position: absolute;
  right: -7px;
  width: 14px;
  height: 14px;
  transform: rotate(45deg) skew(10deg, 10deg);
  background: #fff;
  box-shadow: 1px 0 1px 0 rgba(0,0,0,0.1);
  z-index: 1;
}
.search_box #ya_result .ya_row:hover {
  border-bottom-color: #ffdb4d;
}
.search_box #ya_result .ya_row:focus {
  background: #ffdb4d;
  border-bottom-color: #ffdb4d;
}
.search_box .search_result .result_part .result_row span {
  opacity: 0.3;
}
.search_box .search_result .result_part .result_row.division {
  color: #468954;
}
.search_box .search_result .result_part .result_row.division:hover {
  border-bottom-color: #468954;
}
.search_box .search_result .result_part .result_row.division:focus,
.search_box .search_result .result_part .result_row.division:active {
  border-bottom-color: #468954;
  background: #468954;
  color: #fff;
}
.search_box .search_result .result_part .result_row.district {
  color: #263045;
}
.search_box .search_result .result_part .result_row.district span {
  color: #468954;
}
.search_box .search_result .result_part .result_row.district:hover {
  border-bottom-color: #263045;
}
.search_box .search_result .result_part .result_row.district:focus,
.search_box .search_result .result_part .result_row.district:active {
  border-bottom-color: #263045;
  background: #263045;
  color: #fff;
}
.search_box .search_result .result_part .result_row.street {
  color: #2466e2;
}
.search_box .search_result .result_part .result_row.street span {
  color: #263045;
}
.search_box .search_result .result_part .result_row.street:hover {
  border-bottom-color: #2466e2;
}
.search_box .search_result .result_part .result_row.street:focus,
.search_box .search_result .result_part .result_row.street:active {
  border-bottom-color: #2466e2;
  background: #2466e2;
  color: #fff;
}
.search_box .search_result .result_part .result_row.segment {
  color: #bb15d9;
}
.search_box .search_result .result_part .result_row.segment span {
  color: #2466e2;
}
.search_box .search_result .result_part .result_row.segment:hover {
  border-bottom-color: #bb15d9;
}
.search_box .search_result .result_part .result_row.segment:focus,
.search_box .search_result .result_part .result_row.segment:active {
  border-bottom-color: #bb15d9;
  background: #bb15d9;
  color: #fff;
}
.ya_icon {
  border: 1px solid #b6bfc5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.ya_icon img {
  position: relative;
  height: 50%;
  right: 0.5px;
}
.signsIcon {
  display: inline-flex;
  float: left;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  transform-origin: center bottom;
  padding-bottom: 3px;
  z-index: 15 !important;
}
.signsIcon canvas {
  z-index: 100;
}
.consoleIcon {
  transform-origin: center center;
}
.numBack,
.numStraight {
  width: 50px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.numBack {
  margin-right: 5px;
  flex-direction: column-reverse;
  text-align: right;
  align-items: flex-start;
  transform: rotate(180deg);
}
.numStraight {
  margin-left: 5px;
  text-align: left;
  align-items: flex-start;
}
.numBilat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 12px;
}
.numBilatReverse {
  transform: rotate(180deg);
}
.greenText {
  color: #00aa14;
}
.orangeText {
  color: #ff7f14;
}
.orangeBox {
  background: #ff7f14;
}
.redText {
  color: #f00;
}
.transparentBox {
  background: transparent;
}
.roadMarkup {
  z-index: 1 !important;
}
.pointRoadMarkup {
  z-index: 10 !important;
}
.potato-classname.leaflet-popup {
  left: -24px !important;
}
.potato-classname .leaflet-popup-tip-container {
  left: 24px;
}
.potato-classname .leaflet-popup-content {
  width: auto !important;
}
.potato-classname .leaflet-popup-content table {
  text-align: left;
  border-radius: 10px;
  width: 100%;
}
.potato-classname .leaflet-popup-content table td {
  padding: 5px;
  height: 30px !important;
  max-height: 30px;
  border: 0;
  font-size: 14px;
}
.potato-classname .leaflet-popup-content table td img {
  display: block;
  max-height: 50px;
  max-width: 50px;
  margin: auto;
}
.mgtniip_zoom {
  z-index: 600;
  position: fixed;
  top: 50vh;
  right: 10px;
  border-radius: 0 !important;
  border: 0 !important;
  width: auto !important;
  height: auto !important;
}
.mgtniip_zoom :first-child {
  position: relative;
  width: 38px !important;
  height: 38px !important;
  border-radius: 12px 12px 0 0 !important;
  border: 1px solid #b6bfc5 !important;
  background: #f3f3f3 !important;
  display: block;
  text-align: center !important;
  line-height: 38px !important;
  color: #263045 !important;
}
.mgtniip_zoom :nth-child(2) {
  position: relative;
  z-index: 650;
  width: 38px !important;
  height: 38px !important;
  border-radius: 0 0 12px 12px !important;
  border: 1px solid #b6bfc5 !important;
  background: #f3f3f3 !important;
  border-top: 0 !important;
  text-align: center !important;
  line-height: 38px !important;
  display: block;
  color: #263045 !important;
}
.mgtniip_zoom #zoom_box {
  position: relative;
  z-index: 610;
  width: 40px;
  top: -14px;
  height: 16px;
  border-radius: 0 0 12px 12px;
  background: #b6bfc5;
  line-height: 16px;
  text-align: center;
  padding: 14px 0 0;
  color: #fff;
}
.signPopup .leaflet-popup-close-button {
  font-size: 25px !important;
  width: 25px !important;
  height: 25px !important;
}
.signPopup button,
.signPopup button:focus {
  width: 100px;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  border: 0;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  text-transform: uppercase;
}
.signPopup button:hover {
  background: rgba(0,0,0,0.05);
}
.signPopup button:active {
  box-shadow: 0 -3px 14px rgba(0,0,0,0.4);
}
a {
  cursor: pointer;
}
.leaflet-div-icon {
  border: 0;
}
h3 {
  font-weight: normal;
  font: 14px segoeUIsemibold, sans-serif;
  margin-bottom: 5px;
}
#overlaps1+label:before {
  background-color: #4a90e2;
}
#overlaps2+label:before {
  background-color: #bd10e0;
}
#overlaps3+label:before {
  background-color: #d0021b;
}
#overlaps4+label:before {
  background-color: #f5a623;
}
#overlaps5+label:before {
  background-color: #3dc7a8;
}
#overlaps6+label:before {
  background-color: #87df27;
}
#overlaps7+label:before {
  background-color: #000;
}
.overlaps {
  max-height: 0;
  padding-left: 30px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.overlaps .part:nth-child(3) .checkbox:checked+label:before {
  background-image: url("../images/fff_checked.svg");
}
@media print {
  .control_box {
    display: none;
  }
  .search_box {
    display: none;
  }
  .aside_box {
    display: none;
  }
  .mgtniip_zoom {
    display: none;
  }
}
