@import "variables.styl"
projectPath = "../templates/ksodd/"

#map
	position absolute
	top 0
	left 0
	height 100vh
	width 100vw
.user_panel
	float right
	header
		min-width 128px
	.content
		width auto
.hidden.hidden_part header h2
	display block
.group
	float right
	margin 10px
	margin-right 0
	display flex
	flex-direction row
	justify-content flex-start
	align-items flex-start
	.aside_box
		margin 0
		width 53px
		overflow visible
		header
			border-radius 0
			width 21px
	>:first-child
		width 52px
		header
			border-radius 12px 0 0 12px
			border-right 0
	>:last-child
		width 52px
		header
			border-radius 0 12px 12px 0
			border-left 0
	.button
		border-radius 8px
		width 100px
	[type="text"]
		background transparent
		border 0
		height 28px
		width 183px
		margin-right 12px
		color mgtniip_main
		font 14px SegoeUInormal, sans-serif
.right_panel
	float right
	width 53px
	overflow visible
	margin-right 0
	header
		width 21px
	label img
		height 14px
.main
	float left
	header
		padding 0 17px
		img
			width 17px
	.content
		max-height calc(100vh - 103px)
		& > :last-child
			max-height calc(100vh - 152px)
		.line
			width 246px
		.dist_box
			max-height 0
			overflow hidden
			transition max-height .4s ease-out
		.div_unit
			cursor pointer
			height 18px
			border-top 1px solid mgtniip_other_light
			border-bottom 1px solid mgtniip_other_light_green
			background mgtniip_other_light_green
			padding 0 8px
			line-height 18px
			width calc(100% - 44px)
			&.div_active
				font 600 14px SegoeUIsemibold, sans-serif
			& ~ .info
				background-color mgtniip_other_light_green
		.dist_unit
			cursor pointer
			height 18px
			border-top 1px solid mgtniip_other_light
			border-bottom 1px solid #fff
			margin-left 10px
			padding 0 8px
			line-height 18px
			width calc(100% - 54px)
			&.dist_active
				border 0
				height 20px
				line-height 20px
				background-color mgtniip_other_green
		.info
			display none
			margin 0 8px 0 4px
			&:hover
				opacity 1
		.line:hover
			.div_unit
				border-bottom-color mgtniip_other_green
			.info
				display block
			.dist_unit
				border 0
				height 20px
				line-height 20px
				background-color mgtniip_other_green - per70
				&.dist_active
					background-color mgtniip_other_green




//#user_info
//	float right
//	position relative
//	.content
//		.line.disabled
//			cursor auto
//			opacity .3

.bar
	float right
	position relative
	//position absolute
	//top 10px
	//right 10px
	width 51px
	height 51px
	z-index 1010
	margin-right 10px
	header
		padding 0 15px
		width calc(100% - 30px)
		cursor pointer
		z-index 710
		img
			width 100%
	.content
		border-radius 12px 0 12px 12px
		padding 16px
		width -moz-max-content
		width -webkit-max-content
		width max-content
		float right
		z-index 700
		left 2px
		label
			img
				height 90%




#segment_streets.mgtniip_simple_checkbox:checked+label
	&:before
		background mgtniip_white url(../images/icons_nii/segSt.svg) no-repeat center
		background-size cover
#segment_intersections.mgtniip_simple_checkbox:checked+label
	&:before
		background mgtniip_white url(../images/icons_nii/segInt.svg) no-repeat center
		background-size cover
.search_box
	display none
	float left
	margin-left 0
	.scroll_bar
		max-height 180px
	#empty
		padding-left 8px
		color #aab6cb
		font-size 14px
		display none
	#ya_box
		padding-left 8px
		display flex
		justify-content flex-start
		align-items center
		& > img
			height 17px
		#ya_btn
			position relative
			margin-left 8px
			cursor pointer
			display flex
			justify-content flex-start
			align-items center
			box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.1)
			z-index 10
			.yellow
				width 57px
				height 24px
				background #ffdb4d
				color mgtniip_main
				font 14px SegoeUIsemibold, sans-serif
				display flex
				justify-content center
				align-items center
			.white
				position relative
				height 24px
				width 18px
				background mgtniip_white url(../images/ya.svg) no-repeat 7px 6px
				background-size 6px 12px
				z-index 15
			&:after
				content ""
				position absolute
				right -7px
				width 14px
				height 14px
				transform rotate(45deg) skew(10deg, 10deg)
				background mgtniip_white
				box-shadow 1px 0 1px 0 rgba(0, 0, 0, 0.1)
				z-index 1
	#ya_result
		.ya_row
			&:hover
				border-bottom-color #ffdb4d
			&:focus
				background #ffdb4d
				border-bottom-color #ffdb4d
	.search_result
		.result_part
			.result_row
				span
					opacity .3
				&.division
					color #468954
					&:hover
						border-bottom-color #468954
					&:focus,
					&:active
						border-bottom-color #468954
						background #468954
						color mgtniip_white
				&.district
					color mgtniip_main
					span
						color #468954
					&:hover
						border-bottom-color mgtniip_main
					&:focus,
					&:active
						border-bottom-color mgtniip_main
						background mgtniip_main
						color mgtniip_white
				&.street
					color #2466e2
					span
						color mgtniip_main
					&:hover
						border-bottom-color #2466e2
					&:focus,
					&:active
						border-bottom-color #2466e2
						background #2466e2
						color mgtniip_white
				&.segment
					color #bb15d9
					span
						color #2466e2
					&:hover
						border-bottom-color #bb15d9
					&:focus,
					&:active
						border-bottom-color #bb15d9
						background #bb15d9
						color mgtniip_white


.ya_icon
	border 1px solid mgtniip_grey_e
	border-radius 50%
	display flex
	justify-content center
	align-items center
	background mgtniip_white
	img
		position relative
		height 50%
		right .5px
//.ya_popup







.signsIcon
	display inline-flex
	float left
	flex-direction row
	justify-content center
	align-items flex-start
	position relative
	transform-origin center bottom
	padding-bottom 3px
	z-index 15 !important
	canvas
		z-index 100
.consoleIcon
	transform-origin center center
.numBack,
.numStraight
	width 50px
	font-family sans-serif
	display flex
	flex-direction column
	justify-content flex-start
.numBack
	margin-right 5px
	flex-direction column-reverse
	text-align right
	align-items flex-start
	transform rotate(180deg)
.numStraight
	margin-left 5px
	text-align left
	align-items flex-start
.numBilat
	display flex
	flex-direction column
	justify-content center
	align-items center
	line-height 12px
.numBilatReverse
	transform rotate(180deg)


.greenText
	color rgb(0,170,20)
.orangeText
	color rgb(255,127,20)
.orangeBox
	background rgb(255,127,20)
.redText
	color rgb(255,0,0)
.transparentBox
	background transparent
.roadMarkup
	z-index 1 !important
.pointRoadMarkup
	z-index 10 !important

.potato-classname.leaflet-popup
	left -24px !important
.potato-classname .leaflet-popup-tip-container
	left 24px
.potato-classname .leaflet-popup-content
	width auto !important
.potato-classname .leaflet-popup-content table
	text-align: left
	border-radius: 10px
	width 100%
.potato-classname .leaflet-popup-content table td
	padding 5px
	height 30px !important
	max-height 30px
	border 0
	font-size 14px
.potato-classname .leaflet-popup-content table td img
	display block
	max-height 50px
	max-width 50px
	margin auto



//.search
//  float left
//  margin-left 10px
//  max-width 500px
//  header
//    padding 0 10px
//  header
//    padding 0 15px
//    cursor pointer
//    &.box_hidden
//      border-radius 12px
//      & + main
//        display none
//  input
//    width 100%
//    height 100%
//    border-width 0
//    background inherit
//    font-size 16px



.mgtniip_zoom
	z-index 600
	position fixed
	top 50vh
	right 10px
	border-radius 0 !important
	border 0 !important
	width auto !important
	height auto !important
	& :first-child
		position relative
		width 38px !important
		height 38px !important
		border-radius 12px 12px 0 0 !important
		border 1px solid mgtniip_grey_e !important
		background mgtniip_other_light !important
		display block
		text-align center !important
		line-height 38px !important
		color mgtniip_main !important
	& :nth-child(2)
		position relative
		z-index 650
		width 38px !important
		height 38px !important
		border-radius 0 0 12px 12px !important
		border 1px solid mgtniip_grey_e !important
		background mgtniip_other_light !important
		border-top 0 !important
		text-align center !important
		line-height 38px !important
		display block
		color mgtniip_main !important
	#zoom_box
		position relative
		z-index 610
		width 40px
		top -14px
		height 16px
		border-radius 0 0 12px 12px
		background mgtniip_grey_e
		line-height 16px
		text-align center
		padding 14px 0 0
		color #fff




//
//.mgtniip_sign_popup
//  margin 0
//  bottom -20px !important
//.mgtniip_sign_popup .leaflet-popup-tip-container
//  width 60px
//  height 40px
//  position relative
//  margin-left -30px
//  z-index 700
//  top -1px
//.mgtniip_sign_popup .leaflet-popup-tip
//  position relative
//  top -4px
//  width 24px
//  height 24px
//  background #f3f3f3
//  border 1px solid #B6BFC5
//  box-shadow 0 9px 38px 0 #0718312e
//
//.mgtniip_sign_popup .leaflet-popup-content-wrapper
//  background #f3f3f3
//  border 1px solid #B6BFC5
//  box-shadow 0 9px 38px 0 #0718312e
//  border-radius 12px
//  position relative
//  z-index 690
//  padding 19px 22px
//
//.mgtniip_sign_popup .leaflet-popup-content
//  margin 0
//  width max-content !important
//.popup_line
//  height 60px
//  border-radius 4px
//  cursor pointer
//  display flex
//  flex-direction row
//  justify-content flex-start
//  align-items center
//  &:hover
//    background #fff
//  .popup_inner
//    margin 6px
//    width 48px
//    height 48px
//    display flex
//    align-items center
//    justify-content center
//  img
//    display block
//    max-width 38px
//    max-height 38px
//    //background yellow
//    padding 6px
//    border-radius 4px
//  table
//    border-spacing 0
//  td
//    height 20px
//    text-align left
//    line-height 20px
//    font 14px SegoeUInormal
//    color mgtniip_main
//    padding 0 6px
//  .td1
//    color mgtniip_grey_d

//.signPopup .leaflet-popup-tip-container
//  left 24px
//.signPopup
//  width auto !important
//  //margin-top 21px !important
//  table
//    text-align center
//    border-radius 10px
//    width 100%
//    th
//      height 15px
//      font-size 9px
//      &:last-child
//        min-width 65px !important
//    td
//      padding 5px
//      height 30px !important
//      max-height 30px
//      border 0
//      font-size 14px
//      img
//        display block
//        max-height 50px
//        max-width 50px
//        margin auto
//    tr:last-child
//      text-align right
//      td
//        padding 5px 0
//    select
//      width 100%
//      height 100%
.signPopup .leaflet-popup-close-button
	font-size 25px !important
	width 25px !important
	height 25px !important
.signPopup button,
.signPopup button:focus
	width 100px
	height 100%
	border-radius 10px
	background white
	border 0
	box-shadow 0 3px 14px rgba(0,0,0,.4)
	text-transform uppercase
.signPopup button:hover
	background rgba(0,0,0,.05)
.signPopup button:active
	box-shadow 0 -3px 14px rgba(0,0,0,.4)

a
	cursor pointer
.leaflet-div-icon {
	border 0
}


h3
	font-weight normal
	font 14px segoeUIsemibold, sans-serif
	margin-bottom 5px
#overlaps1+label:before
	background-color #4a90e2
#overlaps2+label:before
	background-color #bd10e0
#overlaps3+label:before
	background-color #d0021b
#overlaps4+label:before
	background-color #f5a623
#overlaps5+label:before
	background-color #3dc7a8
#overlaps6+label:before
	background-color #87df27
#overlaps7+label:before
	background-color #000
.overlaps
	max-height 0
	padding-left 30px
	overflow hidden
	transition max-height .4s ease-out
	.part:nth-child(3)
		.checkbox:checked+label:before
			background-image url(../images/fff_checked.svg)

@media print
	.control_box
		display none
	.search_box
		display none
	.aside_box
		display none
	.mgtniip_zoom
		display none