//**********************************************************************************************************************
//*                                                  AIS KSODD MAPBOX                                                  *
//*                               All rights reserved © 2018 | MosgortransNIIproekt, SUE                               *
//**********************************************************************************************************************

- var mainPath = "../templates/ais_ksodd-v0.0.1/"
- var mtpPath = "../templates/mtp-v0.0.1/"
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href=mainPath+"img/favicon.png")
        title АИС КСОДД
        //including assets styles
        link(rel="stylesheet" href=mainPath+"assets/mapbox-gl-js/mapbox-gl.css")
        //including custom styles
        link(rel="stylesheet" href=mtpPath+"mtp.css")
        link(rel="stylesheet" href=mainPath+"css/style.css")
        //including assets scripts
        script(src=mainPath+"assets/mapbox-gl-js/mapbox-gl.js")
        script(src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.0/mapbox-gl-language.js")
        script(src=mainPath+"assets/localforage/dist/localforage.js")
        script(src=mainPath+"assets/dom-to-image/dist/dom-to-image.min.js")
        //including custom scripts
        script(src=mainPath+"js/modules/authorization.js")
        script(src=mainPath+"js/modules/ksodd.js")
        script(src=mainPath+"js/modules/leaflet.js")
        script(src=mainPath+"js/modules/leftPanel.js")
        script(src=mainPath+"js/modules/overlaps.js")
    body
        .left_panel.control_box.noselected.hidden.hidden_all
            header#menu
                //img(src=mainPath+"img/load.gif" alt="Загрузка...")
                img(src=mainPath+"img/menu_l.svg" alt="Главное меню")
                img(src=mainPath+"img/menu_d.svg" alt="Главное меню")
                h2 АИС КСОДД
            .content
                .part
                    input#divisions_all.checkbox(type="checkbox")
                    label(for="divisions_all") Округа
                    input#districts_all.checkbox(type="checkbox")
                    label(for="districts_all") Районы
                #control_units.part.scroll_bar.accordion_box
        #search.search_box
            .search_string
                input#search_string(type="text" oninput="search(this.value)" value="")
                .close_btn.search_close
            .search_result.noselected
                .result_part
                    #empty Нет данных в АИС КСОДД
                    #ksodd_result.scroll_bar
                .result_part
                    #ya_box
                        img(src=mainPath + "img/yandex.svg")
                        #ya_btn
                            .yellow Найти
                            .white
                    #ya_result.scroll_bar
        .user_panel.aside_box.noselected.hidden.hidden_part
            header#user
                img(src=mainPath+"img/user_l.svg" alt="Изображение пользователя")
                img(src=mainPath+"img/user_d.svg" alt="Изображение пользователя")
                h2#user_login
            .content
                .part
                    .line.disabled
                        img(src=mainPath + "img/settings.svg")
                        span Настройки
                    .line#leaflet_edition
                        img(src=mainPath + "img/leaflet_logo.png")
                        span Leaflet
                    .line#mapbox_edition
                        img(src=mainPath + "img/mapbox_logo.svg")
                        span Mapbox
                    .line#logout
                        img(src=mainPath + "img/exit.svg")
                        span Выйти

        .group
            #link.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/link_l.svg")
                    img(src=mainPath + "img/link_d.svg")
                .content
                    .part
                        .line
                            input#link_path(type="text")
                            input#copy_link.button(type="button" value="Копировать")
            #analytics.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/download_l.svg")
                    img(src=mainPath + "img/download_d.svg")
                .content
                    .part
                        a.line(href="https://niikeeper.com/nii_api/v0.5.9/get_analytics?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv")
                            img(src=mainPath + "img/extension_csv.svg")
                            | Аналитика Москвы&#160;
                            span.light_txt (csv)
                        #png
                            .line
                                img(src=mainPath + "img/extension_png.svg")
                                | Изображение экрана&#160;
                                span.light_txt (png)
                            a.line(href="" download="ais_ksodd_screen.png")
                                img(src=mainPath + "img/extension_png.svg")
                                | Изображение экрана&#160;
                                span.light_txt (png)
            #print.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/print_l.svg")
                    img(src=mainPath + "img/print_d.svg")
        .right_panel.aside_box.noselected.hidden.hidden_all
            header
                img(src=mainPath+"img/layers_l.svg" alt="Дополнительное меню")
                img(src=mainPath+"img/layers_d.svg" alt="Дополнительное меню")
            .content
                .part
                    .line
                        input#signs.checkbox(type="checkbox")
                        label(for="signs") Дорожные знаки
                    .line
                        input#linear_mark.checkbox(type="checkbox")
                        label(for="linear_mark") Линейная разметка
                    .line
                        input#point_mark.checkbox(type="checkbox")
                        label(for="point_mark") Точечная разметка
                    .line
                        input#zones_3_27.checkbox(type="checkbox")
                        label(for="zones_3_27") Зона 3.27&nbsp;
                            img(src=mainPath+"img/3.27.svg")
                    .line
                        input#road_sides.checkbox(type="checkbox")
                        label(for="road_sides") Борты
                .part
                    .line
                        input#segment_streets.checkbox(type="checkbox")
                        label(for="segment_streets") Пролёты
                    .line
                        input#segment_intersections.checkbox(type="checkbox")
                        label(for="segment_intersections") Перектрёстки
                .part
                    .line
                        input#parking.checkbox(type="checkbox")
                        label(for="parking") Парковки
                .part
                    .line
                        input#overlaps.checkbox(type="checkbox")
                        label(for="overlaps") Перекрытия
        #map
        script(src=mtpPath+"mtp.js")
        script(src=mainPath+"js/index.js")