//**********************************************************************************************************************
//*                                                 AIS KSODD v5.4.4                                                   *
//*                               All rights reserved © 2018 | MosgortransNIIproekt, SUE                               *
//**********************************************************************************************************************

- var mainPath = "../templates/ais_ksodd-v0.0.1/"
- var mtpPath = "../templates/mtp-v0.0.1/"
- var leafletPath = "../templates/ais_ksodd_l-v5.4.4/"

doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href=mainPath + "img/favicon.png")
        title АИС КСОДД
        //including assets styles
        link(rel="stylesheet" href=leafletPath + "js/assets/leaflet1.3.1/leaflet.css")
        //including custom styles
        link(rel="stylesheet" href=mtpPath + "mtp.css")
        link(rel="stylesheet" href=mainPath + "css/style.css")
        link(rel="stylesheet" href=leafletPath + "css/style.css")
        //including assets scripts
        script(src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js")
        script(src=leafletPath + "js/assets/leaflet1.3.1/leaflet.js")
        script(src=leafletPath + "js/assets/leaflet.geometryutil.js")
        script(src=leafletPath + "js/assets/leaflet.rotatedMarker.js")
        script(src=leafletPath + "js/assets/leaflet.curve.js")
        script(src=leafletPath + "js/assets/leaflet.permalink.js")
        script(src=leafletPath + "js/assets/dom-to-image/dom-to-image.js")
        script(src=leafletPath + "js/assets/file-saver/filesaver.min.js")
        script(src=leafletPath + "js/assets/leaflet-easyprint/leaflet-easyprint.my.js")
        script(src=leafletPath + "js/assets/vectorGrid.js")
        ///////////////////////////////////////
        script(src=mainPath+"assets/localforage/dist/localforage.js")
        //including custom scripts
        script(src=leafletPath + "js/json/divisions.js")
        script(src=leafletPath + "js/json/districts.js")
        script(src=leafletPath + "js/json/roadSides.js")
        script(src=leafletPath + "js/modules/viktorFuncs.js")
        script(src=leafletPath + "js/modules/signsProperties.js")
        script(src=leafletPath + "js/modules/downloadSigns.js")
        script(src=leafletPath + "js/modules/downloadPointMark.js")
        script(src=leafletPath + "js/modules/downloadLinearMark.js")
        script(src=leafletPath + "js/modules/downloadMenu.js")
        script(src=leafletPath + "js/modules/downloadPolygons.js")
        script(src=leafletPath + "js/modules/parking.js")
        script(src=mainPath+"assets/dom-to-image/dist/dom-to-image.min.js")
        /////////////////////////////////////////////////////////////
        script(src=mainPath + "js/modules/authorization.js")
        script(src=mainPath + "js/modules/ksodd.js")
        script(src=mainPath + "js/modules/leaflet.js")
        script(src=mainPath + "js/modules/leftPanel.js")
        script(src=mainPath + "js/modules/overlaps.js")
        script(src=mainPath + "js/modules/renovations.js")
        script(src=mainPath + "js/modules/segments.js")
    body
        // TODO: .main используется в работе с #control_units!
        .left_panel.control_box.noselected.hidden.hidden_all.main
            header#menu
                //img(src=mainPath+"img/load.gif" alt="Загрузка...")
                img(src=mainPath + "img/menu_l.svg" alt="Главное меню")
                img(src=mainPath + "img/menu_d.svg" alt="Главное меню")
                h2 АИС КСОДД
            .content
                .part
                    input#divisions_all.checkbox(type="checkbox")
                    label(for="divisions_all") Округа
                    input#districts_all.checkbox(type="checkbox")
                    label(for="districts_all") Районы
                #control_units.part.scroll_bar.accordion_box

        // TODO: Адаптировать панель поиска, сделать универсальной!
        #search.search_box
            .search_string
                input#search_string(type="text" oninput="search(this.value)" value="")
                .close_btn.search_close
            .search_result.noselected
                .result_part
                    #empty Нет данных в АИС КСОДД
                    #ksodd_result.scroll_bar
                .result_part
                    #ya_box
                        img(src=mainPath + "img/yandex.svg")
                        #ya_btn
                            .yellow Найти
                            .white
                    #ya_result.scroll_bar

        .user_panel.aside_box.noselected.hidden.hidden_part
            header#user
                img(src=mainPath + "img/user_l.svg" alt="Изображение пользователя")
                img(src=mainPath + "img/user_d.svg" alt="Изображение пользователя")
                h2#user_login
            .content
                .part
                    .line.disabled
                        img(src=mainPath + "img/settings.svg")
                        span Настройки
                    .line#logout
                        img(src=mainPath + "img/exit.svg")
                        span Выйти
        .group
            #link.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/link_l.svg")
                    img(src=mainPath + "img/link_d.svg")
                .content
                    .part
                        .line
                            input#link_path(type="text")
                            input#copy_link.button(type="button" value="Копировать")
            #analytics.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/download_l.svg")
                    img(src=mainPath + "img/download_d.svg")
                .content
                    .part
                        a.line.download(href="https://niikeeper.com/nii_api/v0.5.9/get_analytics?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv")
                            img(src=mainPath + "img/extension_csv.svg")
                            | Аналитика Москвы&#160;
                            span.light_txt (csv)
                        a.line.download(href="https://niikeeper.com/nii_api/v0.5.9/get_csvdata?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv")
                            img(src=mainPath + "img/extension_csv.svg")
                            | Выгрузка для ОДТИ&#160;
                            span.light_txt (csv)
                        #png
                            .line.download
                                img(src=mainPath + "img/extension_png.svg")
                                | Изображение экрана&#160;
                                span.light_txt (png)
            #print.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/print_l.svg")
                    img(src=mainPath + "img/print_d.svg")
        .right_panel.aside_box.noselected.hidden.hidden_all
            header
                img(src=mainPath + "img/layers_l.svg" alt="Дополнительное меню")
                img(src=mainPath + "img/layers_d.svg" alt="Дополнительное меню")
            .content
                .part
                    input#signs.checkbox(type="checkbox")
                    label(for="signs") Дорожные знаки
                    input#linear_mark.checkbox(type="checkbox")
                    label(for="linear_mark") Линейная разметка
                    input#point_mark.checkbox(type="checkbox")
                    label(for="point_mark") Точечная разметка
                    input#zones_3_27.checkbox(type="checkbox")
                    label(for="zones_3_27") Зона 3.27&nbsp;
                        img(src=mainPath + "img/3.27.svg")
                    input#road_sides.checkbox(type="checkbox")
                    label(for="road_sides") Борты
                .part
                    input#segment_streets.checkbox(type="checkbox")
                    label(for="segment_streets") Пролёты
                    input#segment_intersections.checkbox(type="checkbox")
                    label(for="segment_intersections") Перекрёстки
                .part
                    input#parking.checkbox(type="checkbox")
                    label(for="parking") Парковки
                .part
                    input#renovations.checkbox(type="checkbox")
                    label(for="renovations") Реновации
                .part
                    input.checkbox#overlaps(type="checkbox")
                    label(for="overlaps") Перекрытия
                    .overlaps
                        .part
                            h3.noweighted Актуальность
                            input.checkbox#ol_current(type="checkbox")
                            label(for="ol_current") Текущие
                                span#ol_current_cnt(style="padding-left: 10px") 0
                            input.checkbox#ol_future(type="checkbox")
                            label(for="ol_future") Будущие
                                span#ol_future_cnt(style="padding-left: 10px") 0
                            input.checkbox#ol_past(type="checkbox")
                            label(for="ol_past") Прошедшие
                                span#ol_past_cnt(style="padding-left: 10px") 0
                        .part
                            h3.noweighted Начало/окончание
                            input.checkbox#start_today(type="checkbox" checked disabled)
                            label(for="start_today") Начало сегодня
                                span#start_today_cnt(style="padding-left: 10px") 0
                            input.checkbox#end_today(type="checkbox" checked disabled)
                            label(for="end_today") Окончание сегодня
                                span#end_today_cnt(style="padding-left: 10px") 0
                            input.checkbox#start_tomorrow(type="checkbox" checked disabled)
                            label(for="start_tomorrow") Начало завтра
                                span#start_tomorrow_cnt(style="padding-left: 10px") 0
                            input.checkbox#other(type="checkbox" checked)
                            label(for="other") Прочие
                                span#other_cnt(style="padding-left: 10px") 0
                        .part
                            h3.noweighted Принадлежность
                            input.checkbox.ol#overlaps1(type="checkbox" checked)
                            label(for="overlaps1") Публичные мероприятия
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps2(type="checkbox" checked)
                            label(for="overlaps2") Коммерческие организации
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps3(type="checkbox" checked)
                            label(for="overlaps3") Работы ЖКХиБ
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps4(type="checkbox" checked)
                            label(for="overlaps4") Работы Департамента строительства
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps5(type="checkbox" checked)
                            label(for="overlaps5") Моя улица
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps6(type="checkbox" checked)
                            label(for="overlaps6") Работы транспортного комплекса
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps7(type="checkbox" checked)
                            label(for="overlaps7") Несогласованные
                                span(style="padding-left: 10px") 0
                        .part
                            h3.noweighted Тип
                            input.checkbox#ol_full(type="checkbox" checked)
                            label(for="ol_full") Полное
                                span#ol_full_cnt(style="padding-left: 10px") 0
                            input.checkbox#ol_part(type="checkbox" checked)
                            label(for="ol_part") Частичное
                                span#ol_part_cnt(style="padding-left: 10px") 0

        #map
        script(src=mtpPath + "mtp.js")
        //script(src=mainPath+"js/index.js")
        script(src=leafletPath + "js/index.js")
        script(src=leafletPath + "js/modules/search.js")

