/******************************* ASIDE BOX *******************************/
.aside_box
    position relative
    content-w()
    z-index 500
    border-radius 12px
    margin 10px
    header
        position relative
        z-index 520
        height 51px
        padding 0 15px
        flex(row, flex-start, center)
        background mtp_main
        border 1px solid mtp_grey_e
        box-shadow 2px 8px 16px (mtp_main - per85)
        border-radius 12px
        cursor pointer
        min-width 21px
        img
            height 26px
            max-width 21px
            &:first-child
                display none
            &:nth-child(2)
                display inline
        h2
            margin-left 11px
            font 16px SegoeUIsemibold, sans-serif
            color mtp_white
    .content
        position relative
        top 10px
        font 14px SegoeUInormal, sans-serif
        z-index 510
        max-height calc(100vh - 108px) // TODO: Пересчитать!
        padding 11px 15px
        border 1px solid mtp_grey_e
        background mtp_other_light
        border-radius 12px
        overflow auto
        box-shadow 2px 8px 16px (mtp_main - per85)
        content-w()
/***************************** END ASIDE BOX *****************************/