/******************************* ASIDE BOX *******************************/
.aside_box {
  position: relative;
  z-index: 500;
  border-radius: 12px;
}
.aside_box header {
  position: relative;
  z-index: 520;
  height: 51px;
  padding: 0 15px;
  background: mtp_gradient_a;
  background: linear-gradient(0deg, mtp_gradient_a 0%, mtp_other_light 50%, mtp_gradient_a 100%);
  border: 1px solid mtp_grey_e;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 2px 8px 16px mtp_mainper85;
  margin-bottom: 10px;
}
.aside_box header img {
  max-width: 25px;
}
.aside_box header h2 {
  margin-left: 11px;
  font: 16px SegoeUIsemibold, sans-serif;
  color: mtp_main;
}
.aside_box .content {
  position: relative;
  font: 14px SegoeUInormal, sans-serif;
  z-index: 510;
  max-height: calc(100vh - 83px);
  padding: 16px 13px 13px;
  border: 1px solid mtp_grey_e;
  background: mtp_other_light;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 8px 16px mtp_mainper85;
}
/***************************** END ASIDE BOX *****************************/
