/********************************* BUTTON ********************************/
.button
	width 78px
	height 28px
	background mtp_other_light
	btn-border(0, mtp_btn_light-light_border, 2px, mtp_btn_light-dark_border)
	box-shadow 1.4px 1.4px 2px 0 (mtp_main - per33), inset 2px 2px 0 0 mtp_btn_light-light_border
	color mtp_main
	font 600 14px SegoeUIsemibold, sans-serif
	&:active
		color mtp_white
		background mtp_main
		btn-border(2px, mtp_btn_dark-light_border, 2px, mtp_btn_dark-dark_border)
		box-shadow none
	&:not(:disabled)
		cursor pointer
	&:disabled
		opacity .3
/******************************* END BUTTON ******************************/