.button {
  width: 78px;
  height: 28px;
  background: mgtniip_other_light;
  box-shadow: 1.4px 1.4px 2px 0 mgtniip_mainper33, inset 2px 2px 0 0 mgtniip_btn_light-light_border;
  color: mgtniip_main;
  font: 600 14px SegoeUIsemibold, sans-serif;
}
.button.pressed {
  color: mgtniip_white;
  background: mgtniip_main;
  box-shadow: none;
}
