/******************************** CHECKBOX *******************************/
chbox_size = 18px
.checkbox
  display none
  &+label
    position relative
    top 0
    left 0
    flex(row, flex-start, center)
    padding-left chbox_size + 13px
    cursor pointer
    height 19px
    font 14px SegoeUInormal,  sans-serif
    color mtp_main
    margin-top 1px
    &:before
      content ""
      position absolute
      top 0
      left 0
      size(chbox_size)
      border-radius 4px
      background mtp_white
      box-shadow 1px 1px 0 0 (mtp_main - per85)
  &:checked+label
    &:before
      background mtp_white url("img/checked.svg") no-repeat center
      background-size 14px
  &:disabled+label
    &:before
      opacity 0.3
/****************************** END CHECKBOX *****************************/