/****************************** CONTROL BOX ******************************/
.control_box {
  position: relative;
  z-index: 500;
  border-radius: 12px;
}
.control_box header {
  position: relative;
  width 100%
  z-index: 520;
  height: 51px;
  padding: 0 15px;
  background: linear-gradient(0deg, mtp_gradient_a 0%, mtp_other_light 50%, mtp_gradient_a 100%);
  background: mtp_gradient_a;
  border: 1px solid mtp_grey_e;
  box-shadow: 0 1px 0 0 mtp_mainper90, inset 0 1px 0 0 mtp_mainper90;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}
.control_box header img {
  max-width: 25px;
}
.control_box header h2 {
  margin-left: 11px;
  font: 16px SegoeUIsemibold, sans-serif;
  color: mtp_main;
}
.control_box .content {
  position: relative;
  font: 14px SegoeUInormal, sans-serif;
  z-index: 510;
  max-height: calc(100vh - 83px);
  padding: 16px 13px 13px;
  border: 1px solid mtp_grey_e;
  border-top: 0;
  background: mtp_other_light;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.control_box:not(.hidden) {
  box-shadow: 2px 6px 4px mtp_mainper85;
  width: 100%;
}
/**************************** END CONTROL BOX ****************************/
