/****************************** CONTROL BOX ******************************/
.control_box
    position relative
    content-w()
    z-index 500
    border-radius 12px
    box-shadow 2px 8px 16px (mtp_main - per85)
    margin 10px
    header
        position relative
        z-index 520
        height 51px
        padding 0 17px
        flex(row, flex-start, center)
        background mtp_main
        border 1px solid mtp_grey_e
        box-shadow 0 1px 0 0 (mtp_main - per90), inset 0 1px 0 0 (mtp_main - per90)
        border-radius 12px 12px 0 0
        cursor pointer
        min-width 17px
        img
            height 23px
            max-width 17px
            &:first-child
                display none
            &:nth-child(2)
                display inline
        h2
            margin-left 11px
            font 16px SegoeUIsemibold, sans-serif
            color mtp_white
    .content
        position relative
        font 14px SegoeUInormal, sans-serif
        z-index 510
        max-height calc(100vh - 83px)
        padding 16px 13px 13px
        border 1px solid mtp_grey_e
        border-top 0
        background mtp_other_light
        border-radius 0 0 12px 12px
        overflow hidden
/**************************** END CONTROL BOX ****************************/