// TODO: Переделать!
// LEAFLET POPUP
.mgtniip_popup
.mtp_popup
	margin 0
	bottom 20px !important
	.leaflet-popup-content-wrapper //width in js
		background mtp_other_light
		border 1px solid mtp_grey_e
		box-shadow 0 9px 38px 0 mtp_shadow - per82
		border-radius 12px
		padding 19px 22px
		overflow hidden
		.leaflet-popup-content
			margin 0
			width -moz-max-content !important
			width -webkit-max-content !important
			width max-content !important
			div:first-child
				position relative
			.info_type
				border-top 1px solid mtp_hr
				position relative
				margin-top 10px
				bottom 0
				width 100%
				height 19px
				line-height 19px
				text-align center
				font 14px SegoeUInormal
				color mtp_main
				span
					color mtp_grey_d
					font-weight normal
					padding-right 10px
	.leaflet-popup-tip-container
		margin -13px 0 0
		width 24px
		height 24px
		background mtp_other_light
		border 1px solid mtp_grey_e
		border-top 0
		border-left 0
		left calc(50% - 12px)
		box-shadow 20px 20px 38px 0 mtp_shadow - per82
		transform rotate(45deg)
		.leaflet-popup-tip
			display none
	.leaflet-popup-close-button
		visibility hidden
		&:after
			position absolute
			top 8px
			right 8px
			display block
			width 11px
			height 11px
			background url(img/close.svg) no-repeat center
			background-size contain
			content ""
			visibility visible


// INFO POPUP //
.info_line
	height 60px
	width -moz-max-content
	width -webkit-max-content
	width max-content
	border-radius 4px
	cursor pointer
	flex(row, flex-start, center)
	table
		border-spacing 0
		position relative
		padding 11px
		z-index 780
		td
			min-height 19px
			text-align left
			line-height 19px
			font 14px SegoeUInormal
			color mtp_main
		th
			color mtp_grey_d
			font-weight normal
			padding-right 10px
			font 14px SegoeUInormal
		&.popup_full_table
			display none
			border-radius 4px
			position absolute
			top 0
			z-index 800
			th
			td
				min-width 125px
				max-width 125px
				border-bottom 1px solid mtp_other_light
			tr:last-child
			td
			th
				border-bottom 0
				vertical-align top
	.info_pic
		width 48px
		height 48px
		border-radius 4px 0 0 4px
		padding 6px
		flex(row, center, center)
		img
			display block
			padding 5px
			//background yellow
			max-width 38px
			max-height 38px
			border-radius 4px
	&:hover
		background mtp_white


// SEGMENT POPUP //
.segment_popup
.main_popup
	width -moz-max-content
	width -webkit-max-content
	width max-content
	table
		border-spacing 0
		position relative
		margin-bottom 20px
		td
			height 19px
			text-align left
			line-height 19px
			font 14px SegoeUInormal
			color mtp_main
			vertical-align top
			span
			border-radius 2px
			//color #fff
			padding 0 2px
			//.line
			//.dwnld
			//	cursor text
			img
				width 17px
				height 17px
				border 1px solid #bb15d9
				opacity .16
				border-radius 4px
				margin-right 4px
		th
			color mtp_grey_d
			font-weight normal
			padding-right 10px
			font 14px SegoeUInormal
		h4
			color mtp_grey_d
			font-weight normal
			font 14px SegoeUInormal
	.line
		height 19px
		line-height 18px
		font 14px SegoeUInormal
		color mtp_main
