.mgtniip_popup {
  margin: 0;
  bottom: 20px !important;
}
.mgtniip_popup .leaflet-popup-content-wrapper {
  background: mgtniip_other_light;
  border: 1px solid mgtniip_grey_e;
  box-shadow: 0 9px 38px 0 mgtniip_shadowper82;
  border-radius: 12px;
  padding: 19px 22px;
  overflow: hidden;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  width: -moz-max-content !important;
  width: -webkit-max-content !important;
  width: max-content !important;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content div:first-child {
  position: relative;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content div:first-child .info_type {
  border-top: 1px solid mgtniip_hr;
  position: relative;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  height: 19px;
  line-height: 19px;
  text-align: center;
  font: 14px SegoeUInormal;
  color: mgtniip_main;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content div:first-child .info_type span {
  color: mgtniip_grey_d;
  font-weight: normal;
  padding-right: 10px;
}
.mgtniip_popup .leaflet-popup-tip-container {
  margin: -13px 0 0;
  width: 24px;
  height: 24px;
  background: mgtniip_other_light;
  border: 1px solid mgtniip_grey_e;
  border-top: 0;
  border-left: 0;
  left: calc(50% - 12px);
  box-shadow: 20px 20px 38px 0 mgtniip_shadowper82;
  transform: rotate(45deg);
}
.mgtniip_popup .leaflet-popup-tip-container .leaflet-popup-tip {
  display: none;
}
.mgtniip_popup .leaflet-popup-close-button {
  visibility: hidden;
}
.mgtniip_popup .leaflet-popup-close-button:after {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 11px;
  height: 11px;
  background: url("mgtniip_imagesclose.svg") no-repeat center;
  background-size: contain;
  content: "";
  visibility: visible;
}
.info_line {
  height: 60px;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 4px;
  cursor: pointer;
}
.info_line table {
  border-spacing: 0;
  position: relative;
  padding: 11px;
  z-index: 780;
}
.info_line table td {
  min-height: 19px;
  text-align: left;
  line-height: 19px;
  font: 14px SegoeUInormal;
  color: mgtniip_main;
}
.info_line table th {
  color: mgtniip_grey_d;
  font-weight: normal;
  padding-right: 10px;
  font: 14px SegoeUInormal;
}
.info_line table.popup_full_table {
  display: none;
  border-radius: 4px;
  position: absolute;
  top: 0;
  z-index: 800;
}
.info_line table.popup_full_table th,
.info_line table.popup_full_table td {
  min-width: 125px;
  max-width: 125px;
  border-bottom: 1px solid mgtniip_other_light;
}
.info_line table.popup_full_table tr:last-child td,
.info_line table.popup_full_table tr:last-child th {
  border-bottom: 0;
  vertical-align: top;
}
.info_line .info_pic {
  width: 48px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  padding: 6px;
}
.info_line .info_pic img {
  display: block;
  padding: 5px;
  max-width: 38px;
  max-height: 38px;
  border-radius: 4px;
}
.info_line:hover {
  background: mgtniip_white;
}
.segment_popup {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}
.segment_popup table {
  border-spacing: 0;
  position: relative;
  margin-bottom: 20px;
}
.segment_popup table td {
  height: 19px;
  text-align: left;
  line-height: 19px;
  font: 14px SegoeUInormal;
  color: mgtniip_main;
  vertical-align: top;
}
.segment_popup table td span {
  border-radius: 2px;
  color: #fff;
  padding: 0 2px;
}
.segment_popup table td .green {
  background: #75b62e;
}
.segment_popup table td .orange {
  background: #eaad08;
}
.segment_popup table td .red {
  background: #e52329;
}
.segment_popup table td img {
  width: 19px;
  height: 19px;
  border: 1px solid #bb15d9;
  opacity: 0.16;
  border-radius: 4px;
  margin-right: 1px;
}
.segment_popup table th {
  color: mgtniip_grey_d;
  font-weight: normal;
  padding-right: 10px;
  font: 14px SegoeUInormal;
}
.segment_popup h4 {
  color: mgtniip_grey_d;
  font-weight: normal;
  font: 14px SegoeUInormal;
}
.segment_popup .dwnld {
  height: 19px;
  line-height: 18px;
  font: 14px SegoeUInormal;
  color: mgtniip_main;
  cursor: pointer;
}
.segment_popup .dwnld img {
  height: 18px;
  margin-right: 10px;
}
.segment_popup .dwnld:hover {
  background: mgtniip_white;
}
