/******************************* SCROLL BAR ******************************/
.scroll_bar
    size(100%)
    overflow-y auto
    overflow-x hidden
.scroll_bar::-webkit-scrollbar-track
    border-radius 3px
    border 1px solid mtp_light
    background mtp_white

.scroll_bar::-webkit-scrollbar
    width 6px
    border 1px solid mtp_light
    border-radius 3px
    background mtp_white
.scroll_bar::-webkit-scrollbar-thumb
    border-radius 3px
    width 6px
    border 1px solid mtp_grey_d
    background mtp_grey_e
/***************************** END SCROLL BAR ****************************/