/******************************* SCROLL BAR ******************************/
.scroll_bar {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll_bar::-webkit-scrollbar-track {
  border-radius: 3px;
  border: 1px solid mgtniip_light;
  background: mgtniip_white;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  border: 1px solid mgtniip_light;
  border-radius: 3px;
  background: mgtniip_white;
}
.scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 6px;
  border: 1px solid mgtniip_grey_d;
  background: mgtniip_grey_e;
}
/***************************** END SCROLL BAR ****************************/
