/****************************** SEARCH BOX *******************************/
.search_box
    position relative
    content-w()
    max-width 350px
    overflow hidden
    z-index 500
    border-radius 12px
    margin 10px
    .search_string
        position relative
        flex(row, flex-start, center)
        .search_close
            z-index 530
            top auto
            right 1px
            margin 0 17px 0 10px
            background-image url("img/search_close.svg")
            width 17px
            height 17px
            display none
        input
            width 53px
            height 53px
            border-radius 12px
            border 0
            background rgba(0,0,0,.1) url("img/search.svg") no-repeat center
            background-size 35%
            font 16px SegoeUInormal, sans-serif
            color mtp_grey_e
            z-index 520
            &:focus
                height 51px
                width 11px
                border 1px solid mtp_grey_e
                background mtp_white
                padding 0 20px
    .search_result
        position relative
        border-radius 0 0 12px 12px
        display none
        z-index 510
        .result_part
            border 1px solid mtp_grey_e
            border-top 0
            background mtp_other_light
            box-shadow 0 1px 0 0 mtp_main - per90
            padding 15px 9px 15px 13px
            .result_row
                height 19px
                line-height 19px
                font-size 14px
                color mtp_main
                border-bottom 1px solid mtp_hr
                margin-right 9px
                overflow hidden
                padding-left 8px
                cursor pointer
            &:last-child
                border-radius 0 0 12px 12px
                box-shadow none
    &.active
        box-shadow 2px 6px 4px mtp_main - per85
        input
        input:focus
            width 286px
            height 51px
            border 1px solid mtp_grey_e
            background mtp_white
            padding 0 44px 0 20px
            color mtp_main
            border-radius 12px 12px 0 0
            box-shadow 0 1px 0 0 mtp_main - per90, inset 0 1px 0 0 mtp_main - per90
        .search_close
            display block
        .search_result
            display block
    &.hide_result
        input
        input:focus
            border-radius 12px
            box-shadow none
        .search_result
            display none
/**************************** END SEARCH BOX *****************************/