/****************************** SELECTION BAR ******************************/
.mtp_selection_bar {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  padding: 0 10px;
  height: 28px;
  background: mtp_other_light;
  box-shadow: 1.4px 1.4px 2px 0 mtp_mainper33, inset 2px 2px 0 0 mtp_btn_light-light_border;
  color: mtp_main;
  font: 14px SegoeUI, sans-serif;
}
.mtp_selection_bar.pressed {
  color: mtp_white;
  background: mtp_main;
  box-shadow: none;
}
.mtp_selection_bar option {
  line-height: 28px;
  background: mtp_other_light;
  color: mtp_main;
  font: 14px SegoeUI, sans-serif;
  box-shadow: 1.4px 1.4px 2px 0 mtp_mainper33, inset 2px 2px 0 0 mtp_btn_light-light_border;
}
.mtp_selection_bar option:hover {
  background: mtp_other_light_blueper80;
}
.mtp_selection_bar option:selected {
  color: mtp_other_light_blue;
}
