// TODO: Переделать Selection bar
/****************************** SELECTION BAR ******************************/
.mtp_selection_bar
	width -moz-max-content
	width -webkit-max-content
	width max-content
	padding 0 10px
	height 28px
	background mtp_other_light
	borders(0, mtp_btn_light-light_border, 2px, mtp_btn_light-dark_border)
	box-shadow 1.4px 1.4px 2px 0 (mtp_main - per33), inset 2px 2px 0 0 mtp_btn_light-light_border
	color mtp_main
	font 14px SegoeUI, sans-serif
	&.pressed
		color mtp_white
		background mtp_main
		borders(2px, mtp_btn_dark-light_border, 2px, mtp_btn_dark-dark_border)
		box-shadow none
	option
		line-height 28px
		background mtp_other_light
		color mtp_main
		font 14px SegoeUI, sans-serif
		borders(0, mtp_btn_light-light_border, 2px, mtp_btn_light-dark_border)
		box-shadow 1.4px 1.4px 2px 0 (mtp_main - per33), inset 2px 2px 0 0 mtp_btn_light-light_border
		&:hover
			background mtp_other_light_blue - per80
		&:selected
			color mtp_other_light_blue
	option:last-child
		borders(0, mtp_btn_light-light_border, 2px, mtp_btn_light-dark_border)