// TODO: Переделать switch button!
/****************************** SWITCH_BUTTON ******************************/
mtp_switch_button_width = 34px
.mtp_switch_button
	display none
	&+label
		position relative
		top 0
		left 0
		flex(row, flex-start, center)
		height 18px
		padding-left mtp_switch_button_width + 16px
		font 14px SegoeUI,  sans-serif
		color mtp_main
		cursor pointer
		&:before
			content ""
			position absolute
			top 1px
			left 0
			width 34px
			height 14px
			border-radius 7px
			transition .3s
			box-shadow 0.6px 0.8px 0 0 (mtp_main - per96)
			background mtp_white
		&:after
			content ""
			position absolute
			top -1px
			left 0
			width 16px
			height 16px
			background mtp_white
			border 1px solid mtp_main
			border-radius 7px
			transition .3s
			box-shadow 0.9px 1.8px 4px 0 (mtp_main - per83)
	&:checked+label
		&:before
			background mtp_main
		&:after
			left mtp_switch_button_width - 17px
	&:disabled+label
		&:before
			background mtp_grey_e
		&:after
			background mtp_grey_e
			border-color transparent
.switch_btn:disabled + label
	&:before
		background mtp_other_light
	&:after
		background mtp_other_light
		border-color mtp_white