/****************************** SWITCH_BUTTON ******************************/
.mtp_switch_button {
  display: none;
}
.mtp_switch_button+label {
  position: relative;
  top: 0;
  left: 0;
  height: 18px;
  padding-left: 50px;
  font: 14px SegoeUI, sans-serif;
  color: mtp_main;
  cursor: pointer;
}
.mtp_switch_button+label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  transition: 0.3s;
  box-shadow: 0.6px 0.8px 0 0 mtp_mainper96;
  background: mtp_white;
}
.mtp_switch_button+label:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  background: mtp_white;
  border: 1px solid mtp_main;
  border-radius: 7px;
  transition: 0.3s;
  box-shadow: 0.9px 1.8px 4px 0 mtp_mainper83;
}
.mtp_switch_button:checked+label:before {
  background: mtp_main;
}
.mtp_switch_button:checked+label:after {
  left: 17px;
}
.mtp_switch_button:disabled+label:before {
  background: mtp_grey_e;
}
.mtp_switch_button:disabled+label:after {
  background: mtp_grey_e;
  border-color: transparent;
}
.switch_btn:disabled + label:before {
  background: mtp_other_light;
}
.switch_btn:disabled + label:after {
  background: mtp_other_light;
  border-color: mtp_white;
}
