* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: SegoeUInormal, sans-serif;
}
.control_box {
  position: relative;
  z-index: 500;
  border-radius: 12px;
}
.control_box header {
  position: relative;
  z-index: 520;
  height: 51px;
  padding: 0 13px;
  background: linear-gradient(0deg, mtp_gradient_a 0%, mtp_other_light 50%, mtp_gradient_a 100%);
  background: mtp_gradient_a;
  border: 1px solid mtp_grey_e;
  box-shadow: 0 1px 0 0 mtp_mainper90, inset 0 1px 0 0 mtp_mainper90;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}
.control_box header img {
  max-width: 25px;
}
.control_box header h2 {
  margin-left: 11px;
  font: 16px SegoeUIsemibold, sans-serif;
  color: mtp_main;
}
.control_box .content {
  position: relative;
  font: 14px SegoeUInormal, sans-serif;
  z-index: 510;
  max-height: calc(100vh - 83px);
  padding: 16px 13px 13px;
  border: 1px solid mtp_grey_e;
  border-top: 0;
  background: mtp_other_light;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.control_box:not(.hidden) {
  box-shadow: 2px 6px 4px mtp_mainper85;
}
.scroll_bar {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll_bar::-webkit-scrollbar-track {
  border-radius: 3px;
  border: 1px solid mtp_light;
  background: mtp_white;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  border: 1px solid mtp_light;
  border-radius: 3px;
  background: mtp_white;
}
.scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 6px;
  border: 1px solid mtp_grey_d;
  background: mtp_grey_e;
}
.checkbox {
  display: none;
}
.checkbox+label {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 31px;
  cursor: pointer;
  height: 19px;
  font: 14px SegoeUInormal, sans-serif;
  color: mtp_main;
  margin-top: 1px;
}
.checkbox+label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: mtp_white;
  box-shadow: 1px 1px 0 0 mtp_mainper85;
}
.checkbox:checked+label:before {
  background: mtp_white url("img/checked.svg") no-repeat center;
  background-size: 14px;
}
.checkbox:disabled+label:before {
  opacity: 0.3;
}
.noselected {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden header {
  border-radius: 12px;
}
.hidden header :not(:first-child) {
  display: none;
}
.hidden .content {
  display: none;
}
