*
    margin 0
    padding 0
    outline 0
body
	//flex(row, flex-start, flex-start)
	width 100vw
	height 100vh
	overflow hidden
	font-family SegoeUInormal, sans-serif
a
	text-decoration none
	color inherit
@import "classes/control_box.styl"
@import "classes/aside_box.styl"
@import "classes/scroll_bar.styl"
@import "classes/checkbox.styl"
@import "classes/button.styl"
@import "classes/search_box.styl"
@import "classes/popup.styl"
@import "classes/switch_button.styl"
@import "classes/selection_bar.styl"
.auth_page
	width 100vw
	height 100vh
	overflow hidden
.noselected
	-webkit-touch-callout none  /* iOS Safari */
	-webkit-user-select none    /* Safari */
	-khtml-user-select none     /* Konqueror HTML */
	-moz-user-select none       /* Firefox */
	-ms-user-select none        /* Internet Explorer/Edge */
	user-select none            /* Non-prefixed version, currently supported by Chrome and Opera */
.hidden
	header
		img:first-child
			display inline
		img:nth-child(2)
			display none
	&.hidden_all
		header
			content-w()
			flex(row, flex-start, center)
			border-radius 12px
			background mtp_gradient_a
			background linear-gradient(0deg, mtp_gradient_a 0%, mtp_other_light 50%, mtp_gradient_a 100%)
			:not(:first-child)
				display none
		.content
			display none
	&.hidden_part
		header
			background mtp_gradient_a
			background linear-gradient(0deg, mtp_gradient_a 0%, mtp_other_light 50%, mtp_gradient_a 100%)
			h2
				color mtp_main
		.content
			display none

.part
	margin 10px 0
	&:first-child
		margin-top 0
	&:last-child
		margin-bottom 0
.info
	size(14px)
	position relative
	background url(img/info.svg) no-repeat center
	background-size cover
	border 1px solid mtp_grey_a
	border-radius 50%
	opacity .3
	cursor pointer
.line
	flex(row, flex-start, center)
	content-w()
	cursor pointer
	img:first-child
		height 14px
		margin-right 13px

.download
	width 100%
	cursor pointer
	&:hover
		background mtp_white

.disabled
	opacity .3
	cursor default
.accordion_box
	&>:nth-child(2n)
		max-height 0
		overflow hidden
		transition max-height .4s ease-out
.light_txt
	color mtp_grey_d
plc(mtp_main, per70)

.close_btn
	position absolute
	background url(img/close.svg) no-repeat center
	background-size contain
	width 11px
	height 11px
	cursor pointer
	top 8px
	right 8px
.noweighted
	font-weight normal
	font-family SegoeUInormal, sans-serif