@font-face
    font-family SegoeUIlight
    src url("fonts/SegoeUI/SegoeUI100.ttf") format("TrueType")
    src url("fonts/SegoeUI/SegoeUI100.woff") format("woff")
    src url("fonts/SegoeUI/SegoeUI100.woff2") format("woff2")
@font-face
    font-family SegoeUIsemilight
    src url("fonts/SegoeUI/SegoeUI200.ttf") format("TrueType")
    src url("fonts/SegoeUI/SegoeUI200.woff") format("woff")
    src url("fonts/SegoeUI/SegoeUI200.woff2") format("woff2")
@font-face
    font-family SegoeUInormal
    src url("fonts/SegoeUI/SegoeUI400.ttf") format("TrueType")
    src url("fonts/SegoeUI/SegoeUI400.woff") format("woff")
    src url("fonts/SegoeUI/SegoeUI400.woff2") format("woff2")
@font-face
    font-family SegoeUIsemibold
    src url("fonts/SegoeUI/SegoeUI600.ttf") format("TrueType")
    src url("fonts/SegoeUI/SegoeUI600.woff") format("woff")
    src url("fonts/SegoeUI/SegoeUI600.woff2") format("woff2")
@font-face
    font-family SegoeUIbold
    src url("fonts/SegoeUI/SegoeUI700.ttf") format("TrueType")
    src url("fonts/SegoeUI/SegoeUI700.woff") format("woff")
    src url("fonts/SegoeUI/SegoeUI700.woff2") format("woff2")