flex(a,b,c)
    display flex
    flex-direction a
    justify-content b
    align-items c
flex-w(a,b,c,d)
    flex(a,b,c)
    flex-wrap wrap
    align-content d
btn-border(a,b,c,d)
    border-left a solid b
    border-top a solid b
    border-right c solid d
    border-bottom c solid d
content-w()
    width -moz-max-content
    width -webkit-max-content
    width max-content
size(a)
    width a
    height a
plc(a, b)
    ::-ms-input-placeholder
        color a - b
    :-ms-input-placeholder
        color a - b
    ::-moz-placeholder
        color a - b
    :-moz-placeholder
        color a - b
    ::-webkit-input-placeholder
        color a - b
    :placeholder-shown
        color a - b
    ::placeholder
        color a - b