@font-face {
  font-family: SegoeUIlight;
  src: url("fonts/SegoeUI/SegoeUI100.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI100.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI100.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUIsemilight;
  src: url("fonts/SegoeUI/SegoeUI200.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI200.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI200.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUInormal;
  src: url("fonts/SegoeUI/SegoeUI400.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI400.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI400.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUIsemibold;
  src: url("fonts/SegoeUI/SegoeUI600.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI600.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI600.woff2") format("woff2");
}
@font-face {
  font-family: SegoeUIbold;
  src: url("fonts/SegoeUI/SegoeUI700.ttf") format("TrueType");
  src: url("fonts/SegoeUI/SegoeUI700.woff") format("woff");
  src: url("fonts/SegoeUI/SegoeUI700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: SegoeUInormal, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.control_box {
  position: relative;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  z-index: 500;
  border-radius: 12px;
  box-shadow: 2px 8px 16px rgba(38,48,69,0.149);
  margin: 10px;
}
.control_box header {
  position: relative;
  z-index: 520;
  height: 51px;
  padding: 0 17px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #263045;
  border: 1px solid #b6bfc5;
  box-shadow: 0 1px 0 0 rgba(38,48,69,0.102), inset 0 1px 0 0 rgba(38,48,69,0.102);
  border-radius: 12px 12px 0 0;
  cursor: pointer;
  min-width: 17px;
}
.control_box header img {
  height: 23px;
  max-width: 17px;
}
.control_box header img:first-child {
  display: none;
}
.control_box header img:nth-child(2) {
  display: inline;
}
.control_box header h2 {
  margin-left: 11px;
  font: 16px SegoeUIsemibold, sans-serif;
  color: #fff;
}
.control_box .content {
  position: relative;
  font: 14px SegoeUInormal, sans-serif;
  z-index: 510;
  max-height: calc(100vh - 83px);
  padding: 16px 13px 13px;
  border: 1px solid #b6bfc5;
  border-top: 0;
  background: #f3f3f3;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.aside_box {
  position: relative;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  z-index: 500;
  border-radius: 12px;
  margin: 10px;
}
.aside_box header {
  position: relative;
  z-index: 520;
  height: 51px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #263045;
  border: 1px solid #b6bfc5;
  box-shadow: 2px 8px 16px rgba(38,48,69,0.149);
  border-radius: 12px;
  cursor: pointer;
  min-width: 21px;
}
.aside_box header img {
  height: 26px;
  max-width: 21px;
}
.aside_box header img:first-child {
  display: none;
}
.aside_box header img:nth-child(2) {
  display: inline;
}
.aside_box header h2 {
  margin-left: 11px;
  font: 16px SegoeUIsemibold, sans-serif;
  color: #fff;
}
.aside_box .content {
  position: relative;
  top: 10px;
  font: 14px SegoeUInormal, sans-serif;
  z-index: 510;
  max-height: calc(100vh - 108px);
  padding: 11px 15px;
  border: 1px solid #b6bfc5;
  background: #f3f3f3;
  border-radius: 12px;
  overflow: auto;
  box-shadow: 2px 8px 16px rgba(38,48,69,0.149);
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}
.scroll_bar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll_bar::-webkit-scrollbar-track {
  border-radius: 3px;
  border: 1px solid #dadada;
  background: #fff;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  border: 1px solid #dadada;
  border-radius: 3px;
  background: #fff;
}
.scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 6px;
  border: 1px solid #95a6b1;
  background: #b6bfc5;
}
.checkbox {
  display: none;
}
.checkbox+label {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 31px;
  cursor: pointer;
  height: 19px;
  font: 14px SegoeUInormal, sans-serif;
  color: #263045;
  margin-top: 1px;
}
.checkbox+label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 1px 0 0 rgba(38,48,69,0.149);
}
.checkbox:checked+label:before {
  background: #fff url("img/checked.svg") no-repeat center;
  background-size: 14px;
}
.checkbox:disabled+label:before {
  opacity: 0.3;
}
.button {
  width: 78px;
  height: 28px;
  background: #f3f3f3;
  border-left: 0 solid #fbfbfb;
  border-top: 0 solid #fbfbfb;
  border-right: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  box-shadow: 1.4px 1.4px 2px 0 rgba(38,48,69,0.671), inset 2px 2px 0 0 #fbfbfb;
  color: #263045;
  font: 600 14px SegoeUIsemibold, sans-serif;
}
.button:active {
  color: #fff;
  background: #263045;
  border-left: 2px solid #282f3c;
  border-top: 2px solid #282f3c;
  border-right: 2px solid #79818f;
  border-bottom: 2px solid #79818f;
  box-shadow: none;
}
.button:not(:disabled) {
  cursor: pointer;
}
.button:disabled {
  opacity: 0.3;
}
.search_box {
  position: relative;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  max-width: 350px;
  overflow: hidden;
  z-index: 500;
  border-radius: 12px;
  margin: 10px;
}
.search_box .search_string {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.search_box .search_string .search_close {
  z-index: 530;
  top: auto;
  right: 1px;
  margin: 0 17px 0 10px;
  background-image: url("img/search_close.svg");
  width: 17px;
  height: 17px;
  display: none;
}
.search_box .search_string input {
  width: 53px;
  height: 53px;
  border-radius: 12px;
  border: 0;
  background: rgba(0,0,0,0.1) url("img/search.svg") no-repeat center;
  background-size: 35%;
  font: 16px SegoeUInormal, sans-serif;
  color: #b6bfc5;
  z-index: 520;
}
.search_box .search_string input:focus {
  height: 51px;
  width: 11px;
  border: 1px solid #b6bfc5;
  background: #fff;
  padding: 0 20px;
}
.search_box .search_result {
  position: relative;
  border-radius: 0 0 12px 12px;
  display: none;
  z-index: 510;
}
.search_box .search_result .result_part {
  border: 1px solid #b6bfc5;
  border-top: 0;
  background: #f3f3f3;
  box-shadow: 0 1px 0 0 rgba(38,48,69,0.102);
  padding: 15px 9px 15px 13px;
}
.search_box .search_result .result_part .result_row {
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  color: #263045;
  border-bottom: 1px solid #e6e6e6;
  margin-right: 9px;
  overflow: hidden;
  padding-left: 8px;
  cursor: pointer;
}
.search_box .search_result .result_part:last-child {
  border-radius: 0 0 12px 12px;
  box-shadow: none;
}
.search_box.active {
  box-shadow: 2px 6px 4px rgba(38,48,69,0.149);
}
.search_box.active input,
.search_box.active input:focus {
  width: 286px;
  height: 51px;
  border: 1px solid #b6bfc5;
  background: #fff;
  padding: 0 44px 0 20px;
  color: #263045;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 1px 0 0 rgba(38,48,69,0.102), inset 0 1px 0 0 rgba(38,48,69,0.102);
}
.search_box.active .search_close {
  display: block;
}
.search_box.active .search_result {
  display: block;
}
.search_box.hide_result input,
.search_box.hide_result input:focus {
  border-radius: 12px;
  box-shadow: none;
}
.search_box.hide_result .search_result {
  display: none;
}
.mgtniip_popup,
.mtp_popup {
  margin: 0;
  bottom: 20px !important;
}
.mgtniip_popup .leaflet-popup-content-wrapper,
.mtp_popup .leaflet-popup-content-wrapper {
  background: #f3f3f3;
  border: 1px solid #b6bfc5;
  box-shadow: 0 9px 38px 0 rgba(7,24,49,0.18);
  border-radius: 12px;
  padding: 19px 22px;
  overflow: hidden;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content,
.mtp_popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  width: -moz-max-content !important;
  width: -webkit-max-content !important;
  width: max-content !important;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content div:first-child,
.mtp_popup .leaflet-popup-content-wrapper .leaflet-popup-content div:first-child {
  position: relative;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content .info_type,
.mtp_popup .leaflet-popup-content-wrapper .leaflet-popup-content .info_type {
  border-top: 1px solid #e6e6e6;
  position: relative;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  height: 19px;
  line-height: 19px;
  text-align: center;
  font: 14px SegoeUInormal;
  color: #263045;
}
.mgtniip_popup .leaflet-popup-content-wrapper .leaflet-popup-content .info_type span,
.mtp_popup .leaflet-popup-content-wrapper .leaflet-popup-content .info_type span {
  color: #95a6b1;
  font-weight: normal;
  padding-right: 10px;
}
.mgtniip_popup .leaflet-popup-tip-container,
.mtp_popup .leaflet-popup-tip-container {
  margin: -13px 0 0;
  width: 24px;
  height: 24px;
  background: #f3f3f3;
  border: 1px solid #b6bfc5;
  border-top: 0;
  border-left: 0;
  left: calc(50% - 12px);
  box-shadow: 20px 20px 38px 0 rgba(7,24,49,0.18);
  transform: rotate(45deg);
}
.mgtniip_popup .leaflet-popup-tip-container .leaflet-popup-tip,
.mtp_popup .leaflet-popup-tip-container .leaflet-popup-tip {
  display: none;
}
.mgtniip_popup .leaflet-popup-close-button,
.mtp_popup .leaflet-popup-close-button {
  visibility: hidden;
}
.mgtniip_popup .leaflet-popup-close-button:after,
.mtp_popup .leaflet-popup-close-button:after {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 11px;
  height: 11px;
  background: url("img/close.svg") no-repeat center;
  background-size: contain;
  content: "";
  visibility: visible;
}
.info_line {
  height: 60px;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.info_line table {
  border-spacing: 0;
  position: relative;
  padding: 11px;
  z-index: 780;
}
.info_line table td {
  min-height: 19px;
  text-align: left;
  line-height: 19px;
  font: 14px SegoeUInormal;
  color: #263045;
}
.info_line table th {
  color: #95a6b1;
  font-weight: normal;
  padding-right: 10px;
  font: 14px SegoeUInormal;
}
.info_line table.popup_full_table {
  display: none;
  border-radius: 4px;
  position: absolute;
  top: 0;
  z-index: 800;
}
.info_line table.popup_full_table th,
.info_line table.popup_full_table td {
  min-width: 125px;
  max-width: 125px;
  border-bottom: 1px solid #f3f3f3;
}
.info_line table.popup_full_table tr:last-child,
.info_line table.popup_full_table td,
.info_line table.popup_full_table th {
  border-bottom: 0;
  vertical-align: top;
}
.info_line .info_pic {
  width: 48px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info_line .info_pic img {
  display: block;
  padding: 5px;
  max-width: 38px;
  max-height: 38px;
  border-radius: 4px;
}
.info_line:hover {
  background: #fff;
}
.segment_popup,
.main_popup {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}
.segment_popup table,
.main_popup table {
  border-spacing: 0;
  position: relative;
  margin-bottom: 20px;
}
.segment_popup table td,
.main_popup table td {
  height: 19px;
  text-align: left;
  line-height: 19px;
  font: 14px SegoeUInormal;
  color: #263045;
  vertical-align: top;
span
  border-radius: 2px;
  padding: 0 2px;
}
.segment_popup table td img,
.main_popup table td img {
  width: 17px;
  height: 17px;
  border: 1px solid #bb15d9;
  opacity: 0.16;
  border-radius: 4px;
  margin-right: 4px;
}
.segment_popup table th,
.main_popup table th {
  color: #95a6b1;
  font-weight: normal;
  padding-right: 10px;
  font: 14px SegoeUInormal;
}
.segment_popup table h4,
.main_popup table h4 {
  color: #95a6b1;
  font-weight: normal;
  font: 14px SegoeUInormal;
}
.segment_popup .line,
.main_popup .line {
  height: 19px;
  line-height: 18px;
  font: 14px SegoeUInormal;
  color: #263045;
}
.mtp_switch_button {
  display: none;
}
.mtp_switch_button+label {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  padding-left: 50px;
  font: 14px SegoeUI, sans-serif;
  color: #263045;
  cursor: pointer;
}
.mtp_switch_button+label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  transition: 0.3s;
  box-shadow: 0.6px 0.8px 0 0 rgba(38,48,69,0.039);
  background: #fff;
}
.mtp_switch_button+label:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #263045;
  border-radius: 7px;
  transition: 0.3s;
  box-shadow: 0.9px 1.8px 4px 0 rgba(38,48,69,0.169);
}
.mtp_switch_button:checked+label:before {
  background: #263045;
}
.mtp_switch_button:checked+label:after {
  left: 17px;
}
.mtp_switch_button:disabled+label:before {
  background: #b6bfc5;
}
.mtp_switch_button:disabled+label:after {
  background: #b6bfc5;
  border-color: transparent;
}
.switch_btn:disabled + label:before {
  background: #f3f3f3;
}
.switch_btn:disabled + label:after {
  background: #f3f3f3;
  border-color: #fff;
}
.mtp_selection_bar {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  padding: 0 10px;
  height: 28px;
  background: #f3f3f3;
  box-shadow: 1.4px 1.4px 2px 0 rgba(38,48,69,0.671), inset 2px 2px 0 0 #fbfbfb;
  color: #263045;
  font: 14px SegoeUI, sans-serif;
}
.mtp_selection_bar.pressed {
  color: #fff;
  background: #263045;
  box-shadow: none;
}
.mtp_selection_bar option {
  line-height: 28px;
  background: #f3f3f3;
  color: #263045;
  font: 14px SegoeUI, sans-serif;
  box-shadow: 1.4px 1.4px 2px 0 rgba(38,48,69,0.671), inset 2px 2px 0 0 #fbfbfb;
}
.mtp_selection_bar option:hover {
  background: rgba(80,124,215,0.2);
}
.mtp_selection_bar option:selected {
  color: #507cd7;
}
.auth_page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.noselected {
  -webkit-touch-callout: none /* iOS Safari */;
  -webkit-user-select: none /* Safari */;
  -khtml-user-select: none /* Konqueror HTML */;
  -moz-user-select: none /* Firefox */;
  -ms-user-select: none /* Internet Explorer/Edge */;
  user-select: none /* Non-prefixed version, currently supported by Chrome and Opera */;
}
.hidden header img:first-child {
  display: inline;
}
.hidden header img:nth-child(2) {
  display: none;
}
.hidden.hidden_all header {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  background: #e1e2e4;
  background: linear-gradient(0deg, #e1e2e4 0%, #f3f3f3 50%, #e1e2e4 100%);
}
.hidden.hidden_all header :not(:first-child) {
  display: none;
}
.hidden.hidden_all .content {
  display: none;
}
.hidden.hidden_part header {
  background: #e1e2e4;
  background: linear-gradient(0deg, #e1e2e4 0%, #f3f3f3 50%, #e1e2e4 100%);
}
.hidden.hidden_part header h2 {
  color: #263045;
}
.hidden.hidden_part .content {
  display: none;
}
.part {
  margin: 10px 0;
}
.part:first-child {
  margin-top: 0;
}
.part:last-child {
  margin-bottom: 0;
}
.info {
  width: 14px;
  height: 14px;
  position: relative;
  background: url("img/info.svg") no-repeat center;
  background-size: cover;
  border: 1px solid #3e495e;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}
.line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  cursor: pointer;
}
.line img:first-child {
  height: 14px;
  margin-right: 13px;
}
.download {
  width: 100%;
  cursor: pointer;
}
.download:hover {
  background: #fff;
}
.disabled {
  opacity: 0.3;
  cursor: default;
}
.accordion_box>:nth-child(2n) {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.light_txt {
  color: #95a6b1;
}
::-ms-input-placeholder {
  color: rgba(38,48,69,0.302);
}
:-ms-input-placeholder {
  color: rgba(38,48,69,0.302);
}
::-moz-placeholder {
  color: rgba(38,48,69,0.302);
}
:-moz-placeholder {
  color: rgba(38,48,69,0.302);
}
::-webkit-input-placeholder {
  color: rgba(38,48,69,0.302);
}
:placeholder-shown {
  color: rgba(38,48,69,0.302);
}
::placeholder {
  color: rgba(38,48,69,0.302);
}
.close_btn {
  position: absolute;
  background: url("img/close.svg") no-repeat center;
  background-size: contain;
  width: 11px;
  height: 11px;
  cursor: pointer;
  top: 8px;
  right: 8px;
}
.noweighted {
  font-weight: normal;
  font-family: SegoeUInormal, sans-serif;
}
